@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --font-padrao:'Roboto', sans-serif;
}
body{
    background-color: #F9F8F6;
}
h1{
    margin: auto;
    font-family: var(--font-padrao);
    font-size: 36;
    font-weight: bold;
    text-align: center;
}
section{
    display: flex;
    max-width: 400px;
    margin: auto;
    background-color: #FFFFFF;
}
form{
    font-family: var(--font-padrao);
    font-size: 16px;
    
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
form div#cep{
    
}

form input{
    height: 40px;
    width: 321px;
    border: 1px solid #D2CEC5 ;
    border-radius: 4px 4px 4px 4px;
    background-color: #F9F8F6;
    
}
form input:focus{
    outline-color: #FFBB12;
    background-color: #FFFFFF;
}
form input#icep,input#inum{
    width: 150px;
    
}